<p *ngIf="video">{{ video.title }}</p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="video">
  <tbody>
    <tr>
      <td>Description</td>
      <td>{{ video.description }}</td>
    </tr>
    <tr>
      <td>Comment Count</td>
      <td>{{ video.commentCount }}</td>
    </tr>
    <tr>
      <td>Like Count</td>
      <td>{{ video.likeCount }}</td>
    </tr>
    <tr>
      <td>Dislike Count</td>
      <td>{{ video.dislikeCount }}</td>
    </tr>
  </tbody>
</table>
<a [routerLink]="['/videos']">
  Back
</a>
