<h1 id="tableLabel">Videos</h1>

<p *ngIf="!videos"><em>Loading...</em></p>

<div>
  <label>Search: </label>
  <input class="form-control" [(ngModel)]="searchTerm" type="text" name="searchTerm" id="searchTerm" (ngModelChange)="this.searchTermUpdate.next($event)"/>
</div>

<div>
  <label>From cache: </label>
  <input class="form-control" [(ngModel)]="fromCache" type="checkbox" name="fromCache" id="fromCache "/>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="videos">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let video of videos">
      <td>{{ video.title }}</td>
      <td>{{ video.description }}</td>
      <td>
        <a [routerLink]="['/videos', video.id]">
          Details
        </a>
      </td>
    </tr>
  </tbody>
</table>
